.container {
    display: grid;
    grid-template-rows: 280px 100px;
    width: 300px;
    border: 3px solid aqua;
    background: aqua;
    margin-left: 525px;
    margin-top: 100px;
    border-radius: 50px;      
    box-shadow: 0 0 2px 2px purple;      
}
.foto {
    margin-top: 28px;
    margin-left: 10px;
}
img {
    border-radius: 50px;
}
.kata {
    font-size: 18px;
    margin-left: 20px;
    font-style: oblique;
    font-family: sans-serif;
    font-weight: bold;
    color: purple;
}
.kata2 {
    color: purple;
    width: 80px;
    margin-top: -72px;
    margin-left: 20px;
}
.kata3 {
    background:purple;
    color: white;
    margin-top: -45px;
    width: 80px;
    height: 15px;
    font-size: 13px;
    text-align: center;
    margin-left: 20px;
    border-radius: 100px;
}
.kata4 {
    writing-mode: vertical-lr;
    color: purple;
    margin-top: -330px; 
    margin-left: 240px;
    font-size: 20px;
}
.play {
    background-color: blueviolet;
    color: white;
    text-align: center;
    width: 100px;
    height: 35px;
    margin-left: 178px;
    margin-top: -65px;
    border-radius: 10px;
    cursor: pointer;
}
p {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-left: 3px;
}
.play:hover {
    background-color: white;
    color: black;
}